<html>
<title>火焰之雾</title>

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application' %>

  <script type="text/javascript">
      $(function(){
          window.um = UM.getEditor('container', {
              /* 传入配置参数,可配参数列表看umeditor.config.js */
              toolbar: ['undo redo | bold italic underline']
          });

          UM.getEditor('myEditor').setHeight(240);
          UM.getEditor('myEditor').setWidth(1000);
      });
  </script>
</head>

<body style="margin: 0;">


  <div class="nav-menu">
    <div class="nav-menu-bg">

    </div>

    <div class="nav-menu-mask">

    </div>

    <div class="nav-menu-wrapper">
      <div class="nav-left-buttons">
        <ul class="nav-buttons-ul">
          <li class="nav-item"><a href="/users/create" target="_blank" class="nav-item-text">茵蒂克丝</a></li>
          <li class="nav-item"><a href="/users/create" target="_blank" class="nav-item-text">番剧</a></li>
          <li class="nav-item"><a href="/users/create" target="_blank" class="nav-item-text">轻小说</a></li>
          <li class="nav-item"><a href="/users/create" target="_blank" class="nav-item-text">漫画</a></li>
          <li class="nav-item"><a href="/users/create" target="_blank" class="nav-item-text">游戏</a></li>
        </ul>
      </div>

      <div class="nav-right-buttons">
        <ul class="nav-buttons-ul">
          <li class="nav-item"><a href="/users/create" target="_blank" class="nav-item-text">
            <%= image_tag 'myface.jpg', alt: 'myface', class: 'nav-user-face' %>
          </a></li>
          <li class="nav-item"><a href="/users/create" target="_blank" class="nav-item-text">@我的消息</a></li>
          <li class="nav-item"><a href="/users/create" target="_blank" class="nav-item-text">关注</a></li>
          <li class="nav-item"><a href="/users/create" target="_blank" class="nav-item-text">收藏夹</a></li>
        </ul>
      </div>

      <div class="create-new-button">

      </div>

    </div>
  </div>

  <div class="main-content">
    <script type="text/plain" id="myEditor" class="apple"></script>

    <button class="create-article" onclick="createArticle()">发表文章</button>

  </div>

  <script type="text/javascript">
    $UMEditor = UM.getEditor("myEditor");

    function createArticle(){
        $.ajax({
            type:   "POST",
            url:    "/apis/articles/create_new",
            data:   {
                creator_id: 2,
                title:      "Fate Stay Night",
                content:    $UMEditor.getContent()
            },
            success:    function() {
                alert("success");
            },
            error:  function() {
                alert("failed");
            }
        });
    }

  </script>


</body>
</html>



